body{
    background-color: #1B1925;
    color: azure;
}
.img img{
    width: 150px;
    margin: 50px 0 30px 0;
}

.btn1{
    border-radius: 25px;
    width: 200px;
    height: 40px;
    font-size: large;
    font-weight: 600;
}
.login input{
    border-radius: 25px;
    height: 40px;
}
.login a{
    color: azure;
    text-decoration: none;
}
.home input{
    border-radius: 25px;
    height: 40px;
    width: 550px;
}
.navbar-nav .nav-link{
    color: #ffffff !important;
  }
.nav-item{
    color: azure;
}
.customer-result {
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    color: black;
}
.container-fluid.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}
.fixed-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding-bottom: 15px;
    margin-top: 50px;
}
.scrollable-results {
    flex-grow: 1;
    overflow-y: auto;
    padding: 15px;
}
#searchResults {
    max-width: 800px;
    margin: 0 auto;
}
#searchResults p{
    font-size: 15px;
    font-weight: 600;
}
.proceedBtn{
    border: none;
    background-color: #0dff00;
    margin-left: 80px;
}
.proceedBtn:hover{
    background-color: #0bd800;
}

